.formulario {
    display: grid;
    place-items: center;
    padding: 2rem;
}

input,
button,
textarea,
select {
    padding: 2px 15px;
    border: none;
    border-radius: 15px;
    font-size: 15px;
    width: 80%;
}

.formulario button {
    border: none;
    border-radius: 50px;
    background-color: rgb(14, 190, 67);
    color: aliceblue;
    font-size: 20px;
    width: auto;
    padding: 7px 18px;
}

button:hover {
    background-color: rgb(0, 219, 66);

}

label{
    font-size: 30px;
}

select,
textarea,
input {
    padding: 8px;
    background: #181818;
    color: antiquewhite;
    text-align: center;
    font-size: 22px;
}

.resultado {
    font-size: medium;
    color: antiquewhite;
    border: 2px solid #181818;
    border-radius: 10px;
    padding: 15px;
    margin: 0px;
    font-size: 23px;
}

#resultado {
    color: #212121;
    font-size: 0;
}


#consulta {
    color: #212121;
    font-size: 0;
}


table{
    border-radius: 12px;
    border: 2px solid #181818;
    display: grid;
    place-items: center;
    padding: 14px;
}
td{
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 15px;
}
th,tr{
    margin: 15px 5px;
    padding: 20px 25px;
}

.ico{
    height: 43px;
    text-decoration: none;
}