body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: rgb(41, 0, 0);
    color: antiquewhite;

}

h1 ,h3{
    font-size: 1.5cm;
    color: white;
}
h3{
    font-size: .7cm;
}

h2 {
    font-size: 1cm;
    text-transform: uppercase;
}

p,
ul,
li {
    font-size: 20px;
}

.full {
    background-color: rgb(153, 40, 40);
    margin: 3rem;
    padding: 5rem;
    border: 3px solid red;
    border-radius: 22px;
    padding-top: 0;
}

li {
    font-weight: 800;
    font-size: 30px;
    text-align: left;
}

.univ {
    margin-bottom: 2.5em;
    margin-top: 2.5em;
    padding: 0rem 2.5rem 1rem 2.5rem;
}

.univ>p {
    text-align: justify;
}

iframe {
    border: 3px solid rgb(128, 27, 27);
    border-radius: 12px;
}

.unit>img {
    filter: drop-shadow(0 0 10px rgb(255, 205, 230));
    height: 10rem;
    margin-top: 1rem;
    margin-bottom: -2rem;
}

.unic{
    text-align: left;
}

.carrera-info table {
    width: 100%;
    border-collapse: collapse;
}
.carrera-info table, .carrera-info th, .carrera-info td {
    border: 2px solid black;
    padding: 10px;
}

.carrera-info table tr> th> a{
    text-decoration: none;
    color: antiquewhite;
    background: #717171;;
}

footer {
    margin-bottom: -2rem;
    text-align: center;
}
.ft{
    margin-bottom: -2rem;
    margin-bottom: -6rem;
}

.grafica{
    padding: 5vh;
    margin: 2rem;
}

.resultado{
    color: red;
    font-weight: 800;
    font-size: 1rem;
}